div.container {
  max-height: 100vh;
  overflow: hidden;

  h2 {
    // font-size: 28px;
    margin: 0px 24px 0px 0px;
  }

  i.fa-times {
    cursor: pointer;
  }

  .reviewer {
    width: 100%;

    textarea,
    input {
      padding: 6px 14px;
      border-radius: 0;
      box-shadow: none;
      font-size: 15px;
    }

    div.form-group div.alert {
      border-radius: 0px;
      margin-bottom: 0rem;
      margin-top: 1px;
      padding: 0.3rem 1.25rem;
      font-size: 13px;
    }

    .btn-get-started {
      background-color: #684e43;
      color: #fff;
      width: 30%;
      border: none;
      margin: 42px 16px 0px 0px;
      height: calc(1.5em + 0.75rem + 2px);
    }
  }
}

.field-error {
  border: 1px solid red;
}
