<section id="programacao" class="wow fadeInUp">
    <div class="container">
        <div id="anais" class="card-news">
            <div class="form mt-4">
                <div *ngFor="let anal of anais; let i = index" [ngClass]="{'mb-3': anais.length > 1}">
                    <div class="card-news">
                        <!-- [ngClass]="{'no-radius-bottom': infos == true}" -->
                        <div class="row">
                            <div class="col-12 border-right">


                                <div class="row form-group col-md-12 mb-2">
                                    <div class="form-group col-md-4">
                                        <div class="miniature-img ">
                                            <a [attr.href]="anal.link" target="_blank">
                                                <img width="200px" height="300px" src="{{anal.image}}">
                                                <button class="btn btn-primary" style="color: white;">
                                                    <i class="fa fa-download"></i> Acessar livro completo
                                                </button>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="row">

                                            <div class="form-group col-md-12">
                                                <strong>{{anal.name}}</strong>
                                            </div>

                                            <div class="form-group col-md-12">

                                            </div>

                                            <div class="form-group col-md-12">
                                                <button (click)="listarSumario(anal, null)" class="btn btn-primary">
                                                    <i class="fa fa-chevron-down"></i> Clique para ver o sumário e
                                                    acessar o capítulo que desejar
                                                </button>
                                            </div>

                                            <div *ngIf="sumarios && sumarySelect == anal._id" class="form-group col-12"
                                                style="height: 400px !important; overflow-y: scroll">
                                                <strong>Sumário</strong>

                                                <ul *ngFor="let sumario of sumarios">
                                                    <li>
                                                        <span
                                                            style="text-align: justify; text-justify: inter-word; cursor: pointer;"><a
                                                                style="color: #2c8d13;" [attr.href]="sumario.link"
                                                                target="_blank">{{sumario.name}}</a></span>
                                                        <br>
                                                        <span
                                                            style="text-align: justify; text-justify: inter-word; cursor: pointer;"><a
                                                                style="color: #2c8d13;" [attr.href]="sumario.link"
                                                                target="_blank">(Clique aqui para acessar)</a></span>
                                                    </li>
                                                </ul>
                                                <div *ngIf="pager.totalItems" class="pagination justify-content-center">

                                                    <mat-paginator [length]="pager.totalItems"
                                                        [pageSize]="pager.pageSize"
                                                        (page)="pageEvent = listarSumario(anal, $event)">
                                                    </mat-paginator>

                                                </div>
                                            </div>

                                        </div>
                                    </div>



                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>