<div class="container">
  <div class="row justify-content-between">
    <div class="section-header" mat-dialog-title>
      <h2>Parecer</h2>
    </div>
    <i class="fa fa-times" (click)="close(null)"></i>
  </div>
  <div class="row justify-content-center" mat-dialog-content>
    <form role="form" class="reviewer" [formGroup]="reviewForm">
      <div class="form-row justify-content-center">
        <div class="form-group col-md-12">
          <label id="example-radio-group-label">Cabeçalho e rodapé conforme
            template</label>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            formControlName="question1">
            <mat-radio-button class="example-radio-button" value="Sim">
              Sim
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Nao">
              Não
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>


      <div class="form-row justify-content-center">
        <div class="form-group col-md-12">
          <label id="example-radio-group-label">Segue a formatação indicada
            para a modalidade</label>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            formControlName="question2">
            <mat-radio-button class="example-radio-button" value="Sim">
              Sim
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Nao">
              Não
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>


      <div class="form-row justify-content-center">
        <div class="form-group col-md-12">
          <label id="example-radio-group-label">As referências respeitam a
            ABNT</label>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            formControlName="question3">
            <mat-radio-button class="example-radio-button" value="Sim">
              Sim
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Nao">
              Não
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="form-row justify-content-center">
        <div class="form-group col-md-12">
          <label id="example-radio-group-label">Segue o número de páginas
            da modalidade</label>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            formControlName="question4">
            <mat-radio-button class="example-radio-button" value="Sim">
              Sim
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Nao">
              Não
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>


      <div class="form-row justify-content-center">
        <div class="form-group col-md-12">
          <label id="example-radio-group-label">Adequação ao eixo e ao evento</label>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            formControlName="question5">
            <mat-radio-button class="example-radio-button" value="Sim">
              Sim
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Nao">
              Não
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Parcialmente">
              Parcialmente
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="form-row justify-content-center">
        <div class="form-group col-md-12">
          <label id="example-radio-group-label">Correção textual</label>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            formControlName="question6">
            <mat-radio-button class="example-radio-button" value="Sim">
              Sim
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Nao">
              Não
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Parcialmente">
              Parcialmente
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="form-row justify-content-center">
        <div class="form-group col-md-12">
          <label id="example-radio-group-label">Clareza na apresentação</label>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            formControlName="question7">
            <mat-radio-button class="example-radio-button" value="Sim">
              Sim
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Nao">
              Não
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Parcialmente">
              Parcialmente
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="form-row justify-content-center">
        <div class="form-group col-md-12">
          <label id="example-radio-group-label">Coerência entre objetivos/metodologia/fundamentação</label>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            formControlName="question8">
            <mat-radio-button class="example-radio-button" value="Sim">
              Sim
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Nao">
              Não
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Parcialmente">
              Parcialmente
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="form-row justify-content-center">
        <div class="form-group col-md-12">
          <label id="example-radio-group-label">Contém identificação que configura quebra de anonimato</label>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            formControlName="question9">
            <mat-radio-button class="example-radio-button" value="Sim">
              Sim
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Nao">
              Não
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="form-row justify-content-center">
        <div class="form-group col-md-12">
          <label id="example-radio-group-label">Aprovado?</label>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            formControlName="icAllow">
            <mat-radio-button class="example-radio-button" value="Sim">
              Aceito
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Nao">
              Não Aceito
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="form-row justify-content-center">
        <div class="form-group col-md-12">
          <label id="example-radio-group-label">Justificativa</label>

          <textarea maxlength="2000" class="form-control" rows="5" formControlName="justify"> </textarea>
          <span class="pull-right char"><em></em></span>
        </div>
      </div>

      <div class="row justify-content-end">
        <button class="btn-get-started" (click)="registerReview()">Salvar</button>
      </div>
    </form>
  </div>
</div>