div.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav#nav-menu-container {
    .nav-menu{
        
    }
}

.pointer {
    cursor: pointer
}

.text-danger {
    color: red
}

.aoVivo{
    color: white;
    background-color: red($color: #000000);
}