<main id="main">

    <div class="container" id="register">
        <div class="form">
            <form [formGroup]="userForm" role="form" class="contactForm" (ngSubmit)="updateUser()">
                <div class="section-header">
                    <h2>Meu perfil</h2>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Nome"
                            formControlName="fullname" />
                        <div *ngIf="(validate.fullname.errors && submit) || (validate.fullname.errors && !validate.fullname.pristine)"
                            class="alert alert-danger">
                            <div [hidden]="!validate.fullname.errors.required">
                                Preencha o campo nome
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                            formControlName="email" />
                        <div *ngIf="(validate.email.errors && submit) || (validate.email.errors && !validate.email.pristine)"
                            class="alert alert-danger">
                            <div [hidden]="!validate.email.errors.required">
                                Preencha o campo email
                            </div>
                            <div [hidden]="!validate.email.errors.pattern">
                                Formato de email inválido
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="text" name="birth-date" class="form-control" id="birth-date"
                            placeholder="Data de nascimento" formControlName="dateBirth" bsDatepicker
                            [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY' }" autocomplete="false" />
                        <div *ngIf="(validate.dateBirth.errors && submit) || (validate.dateBirth.errors && !validate.dateBirth.pristine)"
                            class="alert alert-danger">
                            <div [hidden]="!validate.dateBirth.errors.required">
                                Preencha o campo data de nascimento
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4" formGroupName="phones">
                        <input type="text" name="telephone" class="form-control" id="telephone" placeholder="Telefone"
                            formControlName="telephone" [dropSpecialCharacters]="true" mask="(00) 0000-0000" />
                    </div>
                    <div class="form-group col-md-4" formGroupName="phones">
                        <input type="text" class="form-control" name="cellphone" id="cellphone" placeholder="Celular"
                            formControlName="cellphone" [dropSpecialCharacters]="true" mask="(00) 00000-0000"
                            [validation]="false" />
                        <div *ngIf="(phones.cellphone.errors && submit) || (phones.cellphone.errors && !phones.cellphone.pristine)"
                            class="alert alert-danger">
                            <div [hidden]="!phones.cellphone.errors.required">
                                Preencha o campo celular
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="section-header">
                    <h2 mt-2>Endereço</h2>
                </div> -->
                <div class="form-row" formGroupName="address">
                    <div class="form-group col-md-6">
                        <input type="text" name="street" class="form-control" id="street" placeholder="Endereço"
                            formControlName="street" />
                        <div *ngIf="(address.street.errors && submit) || (address.street.errors && !address.street.pristine)"
                            class="alert alert-danger">
                            <div [hidden]="!address.street.errors.required">
                                Preencha o campo endereço
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="num" id="num" placeholder="Nº"
                            formControlName="num" />
                        <div *ngIf="(address.num.errors && submit) || (address.num.errors && !address.num.pristine)"
                            class="alert alert-danger">
                            <div [hidden]="!address.num.errors.required">
                                Preencha o campo número
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row" formGroupName="address">
                    <div class="form-group col-md-6">
                        <input type="text" name="district" class="form-control" id="district" placeholder="Bairro"
                            formControlName="district" />
                        <div *ngIf="(address.district.errors && submit) || (address.district.errors && !address.district.pristine)"
                            class="alert alert-danger">
                            <div [hidden]="!address.district.errors.required">
                                Preencha o campo bairro
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="city" id="city" placeholder="Cidade"
                            formControlName="city" />
                        <div *ngIf="(address.city.errors && submit) || (address.city.errors && !address.city.pristine)"
                            class="alert alert-danger">
                            <div [hidden]="!address.city.errors.required">
                                Preencha o campo cidade
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row" formGroupName="address">
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" name="state" id="state" placeholder="Estado"
                            formControlName="state" />
                        <div *ngIf="(address.state.errors && submit) || (address.state.errors && !address.state.pristine)"
                            class="alert alert-danger">
                            <div [hidden]="!address.state.errors.required">
                                Preencha o campo estado
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" name="country" id="country" placeholder="País"
                            formControlName="country" />
                        <div *ngIf="(address.country.errors && submit) || (address.country.errors && !address.country.pristine)"
                            class="alert alert-danger">
                            <div [hidden]="!address.country.errors.required">
                                Preencha o campo país
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" name="zip" class="form-control" id="zip" placeholder="Código postal"
                            formControlName="zip" [dropSpecialCharacters]="true" mask="00000-000"
                            [validation]="false" />
                        <div *ngIf="(address.zip.errors && submit) || (address.zip.errors && !address.zip.pristine)"
                            class="alert alert-danger">
                            <div [hidden]="!address.zip.errors.required">
                                Preencha o campo CEP
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!carregando" class="text-center pt-5"><button type="submit">Atualizar</button></div>
                <div *ngIf="carregando" class="text-center pt-5"><button><i
                            class="fas fa-spinner fa-pulse"></i></button></div>
            </form>
        </div>

    </div>

</main>