<div class="container">
    <div class="row justify-content-between">
        <h1 mat-dialog-title></h1>
        <i class="fa fa-times" (click)="close()"></i>
    </div>
    <div class="row">
        <h2 mat-dialog-title>TURISMO</h2>
        <br />
        <div mat-dialog-content>
            <div style="text-align: justify;">
                O Rio de Janeiro é conhecido por suas belezas naturais, mas nem só de praia vive a
                cidade. Saiba o que fazer na cidade maravilhosa.
                <br> <br>
                <b>O que fazer no Rio de Janeiro?</b>
            </div>
            <table class="table table-responsive table-striped tabelaCronograma">
                <thead>
                    <tr>
                        <th class="text-center">
                            <b>Ao ar livre</b>
                        </th>
                        <th class="text-center">
                            <b>Museus e centros culturais</b>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            <ul>
                                <li>Arcos da Lapa;</li>
                                <li>Feira do Rio Antigo;</li>
                                <li>Escadaria Selarón;</li>
                                <li>Bonde de Santa Teresa;</li>
                                <li>Praias – “do leme ao pontal não há nada igual”!</li>
                                <li>Parque das Ruínas;</li>
                                <li>Jardim Botânico;</li>
                                <li>Parque Lage;</li>
                                <li>Praça Mauá;</li>
                                <li>Pedra do Sal;</li>
                                <li>Aquário Marinho do Rio (aquário);</li>
                                <li>Pier Mauá;</li>
                                <li>Cristo Redentor;</li>
                                <li>Pão de Açúcar;</li>
                                <li>Forte de Copacabana;</li>
                                <li>Mureta da Urca;</li>
                                <li>Aterro do Flamengo;</li>
                                <li>Floresta da Tijuca;</li>
                                <li>Ilha Fiscal;</li>
                                <li>Cachoeira do Horto.</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Centro Cultural Pequena África;</li>
                                <li>Instituto dos Pretos Novos;</li>
                                <li>Centro Cultural José Bonifácio;</li>
                                <li>Casa da Tia Ciata;</li>
                                <li>Museu Chácara do Céu;</li>
                                <li>Centro Cultural Laurinda Santos Lobo;</li>
                                <li>Centro Cultural Banco do Brasil (CCBB);</li>
                                <li>Museu Arte do Rio (MAR);</li>
                                <li>Museu do Amanhã;</li>
                                <li>Theatro Municipal;</li>
                                <li>Museu de Arte Moderna (MAM);</li>
                                <li>Museu da República;</li>
                                <li>Vivo Rio;</li>
                                <li>Sala Cecília Meireles.</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>

    </div>
</div>