<!--==========================
    Submission
  ============================-->
<main id="submission">
  <div class="container submission-content">
    <div class="row">
      <div class="offset-md-1 col-md-10">
        <div class="box">
          <div class="form">
            <form role="form" class="contactForm" [formGroup]="submissionForm" (ngSubmit)="upload()"
              encType="multipart/form-data">
              <!--<form role="form" class="contactForm" encType="multipart/form-data">-->
              <div class="section-header">
                <h2>Submissão de trabalho</h2>
              </div>

              <!--
              <h1 style="color: green; font-family: 'Montserrat', sans-serif;">
                Aguarde, estamos em etapa de avaliação de recursos. Em breve a
                programação estará disponível.
              </h1>
-->

              <!--FORM PARA REENVIAR REPLICA-->
              <div *ngIf="carregando"><i class="fas fa-spinner fa-pulse"></i>Aguarde...</div>

              <div *ngFor="let work of works; let i = index" [ngClass]="{ 'mb-3': works.length > 1 }">
                <work-card [work]="work" [user]="user" [reviewers]="reviewers"
                  (selected)="receiverSelectedWork($event)">
                </work-card>

                <app-work-data [work]="work" [user]="user" *ngIf="work && work._id == workSelect"> </app-work-data>
              </div>

              <!--<div *ngIf="works.length == 0">
                <h4>Você não possui trabalhos</h4>
              </div>-->

              <!--FORM PARA SUBIR TRABALHO-->

              <div *ngIf="!carregando">
                <div *ngIf="!user.payment || !user.payment.icPaid ">
                  <h1 style="color:red; font-family: 'Montserrat', sans-serif;">Para realizar
                    submissões de trabalhos você precisa ter
                    um pagamento válido</h1>
                </div>
                <div *ngIf="(user.payment && user.payment.icPaid) || user.icAdmin">
                  <div *ngIf="user.works && user.works.length > 0" class="form-row">
                    <h3>Você já submeteu {{ user.works.length }} trabalho(s)</h3>
                    <br />
                  </div>
                  <h5 style="color:#20959b; font-family: 'Montserrat', sans-serif;">
                    Certifique-se de que os dados e arquivos estão corretos, pois não será
                    possível qualquer alteração após a finalização da submissão.</h5>
                  <br />
                  <div class="form-row">
                    <div class="form-group col-md-6">

                      <div>
                        <select class="form-control" id="opt" formControlName="modalityId">
                          <option disabled="true" [selected]="!submissionForm.value.modalityId">Selecione
                            a modalidade</option>
                          <option *ngFor="let option of modalidadesUsuario" [value]="option.id">
                            {{ option.name }}
                          </option>
                        </select>
                      </div>


                      <div class="mt-2">
                        <select class="form-control" placeholder="Eixo" id="opt" formControlName="axisId">
                          <option disabled="true" [selected]="!submissionForm.value.axisId">
                            Selecione o
                            eixo</option>
                          <option *ngFor="let eixo of eixos" [value]="eixo.id">{{ eixo.name }}
                          </option>
                        </select>
                      </div>
                      <input type="text" name="title" class="form-control mt-2" id="title" placeholder="Título"
                        formControlName="title" />
                      <div class="custom-file mt-2">
                        <input type="file" class="custom-file-input"
                          accept="application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                          data-max-size="2048" id="customPreReadFile" (change)="setFileNameDOC($event.target.files)"
                          #fileInput />
                        <label class="custom-file-label" for="customPreReadFile">{{ getFileNameDOC() }}</label>
                      </div>
                      <div class="custom-file mt-2">
                        <input type="file" name="arquivoPDF" class="custom-file-input" accept="application/pdf"
                          data-max-size="2048" id="customPreReadFile" (change)="setFileNamePDF($event.target.files)"
                          #fileInput />
                        <label class="custom-file-label" for="customPreReadFile">{{ getFileNamePDF() }}</label>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <div formArrayName="authors"
                        *ngFor="let item of submissionForm.get('authors').controls; let i = index;">
                        <div [formArrayName]="i">
                          <input type="text" name="autor" class="form-control" [ngClass]="{'mt-2': i >= 1}" id="autor"
                            placeholder="Email do participante" formControlName="email" />
                        </div>
                      </div>
                      <button class="btn-get-started" type="button" (click)="addAuthors()" *ngIf="showAdd"><i
                          class="fas fa-plus"></i> Autores</button>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <button *ngIf="!enviando" class="btn-get-started" type="submit">Submeter</button>

                    <div *ngIf="enviando" class="row justify-content-center"><button class="btn-get-started"><i
                          class="fas fa-spinner fa-pulse"></i></button>
                    </div>

                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>