.container {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    h2 {
      text-align: center;
    }

    i {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
  }

  div.mat-dialog-content {
    padding: 0 42px;

    table {
      tbody {
        th {
          h4 {
            font-size: 16px;
            margin-bottom: 12px;
          }

          p {
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}
