<section id="programacao" class="wow fadeInUp">
    <div class="container">

        <div class="row contact-info mb-5" style="">
            <div class="col-md-12">
                <div class="section-header mt-3 mb-5">
                    <h2>Lançamento de Livros</h2>

                    <div class="container-fluid p-0">
                        <section class="p-3 align-items-center " *ngFor="let library of livros">
                            <!-- Livros Autorais -->

                            <h2 class="mb-4 mt-4">{{library.date}} - {{library.titles}}</h2>

                            <div class="row mb-4 " *ngFor="let book of library.books">
                                <div class="col-4 livro-panel livro-note d-none d-lg-block d-xl-none d-xl-block">
                                    <img width="304" height="236"
                                        src="https://xiendipe.s3.sa-east-1.amazonaws.com/books/{{book.nameMiniature}}"
                                        class="img-fluid img-thumbnail capa-livro" />

                                </div>
                                <!-- MOBILEEEE -->
                                <div class="col-12 livro-panel livro-note d-block d-sm-none d-sm-block d-md-none">
                                    <img width="304" height="236"
                                        src="https://xiendipe.s3.sa-east-1.amazonaws.com/books/{{book.nameMiniature}}"
                                        class="img-fluid img-thumbnail capa-livro" />

                                </div>
                                <div style="background-color: white" class="col-8">



                                    <h5><b>Título</b></h5>
                                    <div class="w3-panel w3-note">
                                        <p>{{book.title}}</p>
                                    </div>

                                    <div style="text-align: justify; text-justify: inter-word;" class="mb-4">
                                        <p><b>Editora</b></p>
                                        <p>{{book.editora}}</p>
                                    </div>

                                    <div style="text-align: justify; text-justify: inter-word;" class="mb-4">
                                        <p><b>Autoria</b></p>
                                        <p>{{book.author}}</p>
                                    </div>

                                    <div style="text-align: justify; text-justify: inter-word;" class="mb-4">
                                        <p><b>Ano de publicação</b></p>
                                        <p>{{book.ano}}</p>
                                    </div>

                                    <div style="text-align: justify; text-justify: inter-word;" class="mb-4">
                                        <p><a href="{{book.linkSale}}" target="_blank">+ Saiba mais</a></p>

                                    </div>

                                    <div class="accordion" id="accordionExample">

                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link btn-livro" type="button"
                                                        data-toggle="collapse" data-target="#collapseOne"
                                                        aria-expanded="true" aria-controls="collapseOne">
                                                        Resumo
                                                    </button>
                                                </h5>
                                            </div>

                                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                                data-parent="#accordionExample">
                                                <div class="card-body"
                                                    style="text-align: justify; text-justify: inter-word;">
                                                    {{book.resume}}
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>



                        </section>
                    </div>
                    <!-- FIM DOS AUTORAIS -->




























                </div>
            </div>
        </div>

    </div>
</section>