<div class="container">
    <div class="row justify-content-between">
        <h1 mat-dialog-title></h1>
        <i class="fa fa-times" (click)="close()"></i>
    </div>
    <div class="row">
        <h2 mat-dialog-title>TRANSPORTE</h2>
        <div mat-dialog-content>
            <div style="text-align: justify;">
                <b>COMO CHEGAR NOS LOCAIS DO XX ENDIPE RIO 2020</b>
                <br />
                <p style="text-align: center;"><b>1º dia</b></p>
                A <b>ABERTURA</b> do evento será no <b>VIVO RIO</b>, uma casa de shows localizada no
                Parque do Flamengo, ao lado do MAM – Museu de Arte Moderna e próxima ao
                aeroporto Santos Dumont.<br>
                Av. Infante Dom Henrique, 85, Parque do Flamengo, Rio de Janeiro/RJ.
                <br><br>
                Estações de Ônibus mais próximas
                <br>
                Avenida Beira Mar | Museu De Arte Moderna (Mam)
                <br><br>
                <b>LECD32</b>
                <br>
                Bancários - Copacabana (BRS 3 - via Linha Vermelha / Túnel Pref. Marcello Alencar /
                Aterro)
                <br>
                <b>107</b>
                <br>
                Urca - Central (BRS 1 - via Praia do Flamengo)
                <br>
                <b>232SE</b>
                <br>
                Lins - Leme (BRS 4 / 3 - via Aterro)
                <br>
                <b>309</b>
                <br>
                Alvorada - Central (BRS 3 - via Praia da Barra / Jóquei)
                <b>415</b>
                <br>
                Usina - Leblon (BRS 2 - via Central / Lagoa)
                <br><br>
                <b>Metrô</b>
                <br>
                METRÔ L1+L4, METRÔ L2
                <br><br>
                <p style="text-align: center;"><b>2º, 3º e 4º dias</b></p>

                Todas as demais atividades do XX ENDIPE Rio 2020 acontecerão no complexo que
                reúne a Universidade Federal do Rio de Janeiro (UFRJ), o Instituto Benjamin Constant
                (IBC) e a Universidade Federal do Estado do Rio de Janeiro (UNIRIO) ao longo da
                Avenida Pasteur no Bairro da Urca.
                <br><br>
                <b>De METRÔ:</b>
                <br>
                Descer na ESTAÇÃO BOTAFOGO / Saída Rua Voluntários da Pátria / Pegar o ônibus
                de Integração para URCA. O ônibus faz todo o trajeto da Avenida Pasteur.
                <br><br>
                <b>De ÔNIBUS:</b>
                <br>
                Na Praia do Flamengo: LINHA 107 - Central-Urca.<br>
                Na Praia de Botafogo: LINHAS 107 e 513 – Humaitá-Urca e Linha Circular 2.<br>
                Na Voluntários da Pátria: LINHAS Integração METRÔ e 513.<br>
                Em Copacabana, Ipanema, Leblon: qualquer linha em direção ao Aterro do Flamengo.<br>
                <br>
                <b>De TAXI:</b>
                <br>
                O aplicativo taxi rio é muito eficiente e seguro. Aceita cartão de débito registrado no
                cadastro.




            </div>

        </div>

    </div>
</div>