#certificados {
  .container {
    padding: 15px 15px;

    .box {
      padding: 40px;
      margin-bottom: 40px;
      background: #fff;
      transition: 0.4s;

      .section-header {
        h2 {
          font-size: 1.4rem;
        }
      }

      h4 {
        margin-left: 0px;
      }

      p {
        margin-left: 0px;
      }

      form {
        input {
          padding: 10px 14px;
          border-radius: 0;
          font-size: 15px;
        }

        select {
          border-radius: 0;
          font-size: 15px;
        }
      }

      .certified {
        width: auto;
        background-image: url("../../assets/img/certificado.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        text-align: center;

        .certified-details {
          padding: 11em 6em;
          margin: auto auto;
          height: 100%;
          text-align: center;

          h4 {
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.btn-get-started {
  background-color: #2c8d13;
  text-transform: uppercase;
  border-radius: 4px;
  color: #fff;
  width: 30%;
  border: none;
  margin: 14px 16px 0px;
  height: calc(1.5em + 0.75rem + 2px);

  i {
    font-size: 14px;
  }
}

@media screen and (max-width: 599px) {
  #certificados {
    .container {
      .box {
        padding: 16px;

        .certified {
          height: 20em;

          .certified-details {
            padding: 8.6em 4em 0 4em;

            h4 {
              font-size: 0.75em;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  #certificados {
    .container {
      .box {
        padding: 36px;

        .certified {
          height: 20em;

          .certified-details {
            padding: 8.4em 3.2em 0 3.2em;

            h4 {
              font-size: 0.7em;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #certificados {
    .container {
      .box {
        padding: 36px;

        .certified {
          height: 28em;

          .certified-details {
            padding: 12em 4.6em 0 4.6em;

            h4 {
              font-size: 0.9em;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  #certificados {
    .container {
      .box {
        padding: 36px;

        .certified {
          height: 28em;

          .certified-details {
            padding: 12em 4.6em 0 4.6em;

            h4 {
              font-size: 0.9em;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  #certificados {
    .container {
      .box {
        padding: 36px;

        .certified {
          height: 30em;

          .certified-details {
            padding: 13em 6em 0 6em;

            h4 {
              font-size: 1em;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #certificados {
    .container {
      .box {
        padding: 16px;

        .certified {
          height: 36em;

          .certified-details {
            padding: 14em 8em 0 -5em;

            h4 {
              padding-top: 14px;
              font-size: 1.3em;
              margin: 0;
            }
          }
        }
      }
    }
  }
}