<div class="container">
    <div class="row justify-content-between">
        <h1 mat-dialog-title></h1>
        <i class="fa fa-times" (click)="close()"></i>
    </div>
    <div class="row">
        <h2 mat-dialog-title>ALIMENTAÇÃO</h2>
        <div mat-dialog-content>
            <div style="text-align: justify;">
                Sugestões próximas ao local do evento:
            </div>
            <table class="table table-responsive table-striped tabelaCronograma">
                <thead>
                    <tr>
                        <th class="text-center">
                            <b>Shopping Rio Sul (Rua Lauro Müller, 116 – Botafogo)</b>
                        </th>
                        <th class="text-center">
                            <b>Casa e Gourmet Shopping (Rua General Severiano, 97 – Botafogo)</b>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            <ol>
                                <li>Abraccio</li>
                                <li>Batata Inglesa</li>
                                <li>Bibi</li>
                                <li>Bob’s</li>
                                <li>Burguer King</li>
                                <li>Cafeína</li>
                                <li>Chez Mi Chouz</li>
                                <li>Delírio Tropical</li>
                                <li>DNA Empório</li>
                                <li>Dois em cena</li>
                                <li>Gula Gula</li>
                                <li>Ícaro</li>
                                <li>La Mole</li>
                                <li>Litlle Mama</li>
                                <li>Mania de churrasco</li>
                                <li>Sal Org</li>
                                <li>Seu Nacib</li>
                                <li>Spoleto</li>
                                <li>TBT house</li>
                                <li>Madero</li>
                                <li>Vivendas do camarão</li>
                                <li>Viena</li>
                            </ol>
                        </td>
                        <td>
                            <ol>
                                <li>B de burguer</li>
                                <li>Brotto</li>
                                <li>Fiammetta</li>
                                <li>Gula Gula</li>
                                <li>Mamma Jamma</li>
                                <li>Outback</li>
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>



            <table class="table table-responsive table-striped tabelaCronograma">
                <thead>
                    <tr>
                        <th class="text-center">
                            <b>Restaurantes no bairro da Urca</b>
                        </th>
                        <th class="text-center">
                            <b>Restaurante na UNIRIO</b>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            <ol>
                                <li>Terra Brasilis (10% de desconto para os congressistas – apresentando crachá do
                                    evento)</li>
                                <li>Boteco Belmonte</li>
                                <li>Bar Urca</li>
                                <li>Severiano Gourmet
                                    Self – Service. R. Gen. Severiano, 70 - Botafogo</li>
                                <li>Barto Restaurante
                                    Self – Service. Rua Bartolomeu Portela, Bloco A 25 - Botafogo</li>

                            </ol>
                        </td>
                        <td>
                            <ol>
                                <li>Restaurante Self – Service
                                    Comida brasileira</li>
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-responsive table-striped tabelaCronograma">
                <thead>
                    <tr>
                        <th class="text-center">
                            <b>Restaurantes na UFRJ</b>
                        </th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            <ol>
                                <li>Cópia Café (ao lado do CFCH)
                                    Massas e lanches</li>
                                <li>Ecobar Lanches (dentro do Anexo)
                                    Prato do dia e lanches</li>
                                <li>Bar do DCE (próximo ao Anexo)
                                    Self – Service comida caseira</li>
                                <li>Restaurante Self – Service (Campinho)
                                    Comida brasileira</li>
                                <li>Bar do Manuel (próximo a saída Lauro Müller)
                                    Opções de pratos e lanches</li>

                            </ol>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>