<div class="container">
    <div class="row justify-content-between">
        <div class="section-header" mat-dialog-title>
            <h2>Cadastrar parecerista</h2>
        </div>
        <i class="fa fa-times" (click)="close()"></i>
    </div>
    <div class="row" mat-dialog-content>
        <form role="form" class="reviewer" [formGroup]="reviewerForm" (ngSubmit)="saveReviewer()">
            <div class="form-row justify-content-center" formArrayName="reviewers"
                *ngFor="let item of reviewers['controls']; let i = index">
                <div class="form-group col-md-12" [formArrayName]="i">
                    <div class="row justify-content-center">
                        <div class="align-items-center" [ngClass]="{'col-md-11': i > 0, 'col-md-12': i < 1}">
                            <input type="text" name="parecerista" class="form-control" id="parecerista"
                                placeholder="Email do parecerista" formControlName="email" />
                        </div>
                        <div class="col-md-1 align-items-center icon" *ngIf="i > 0">
                            <button type="button" (click)="removeField(i)"><i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <!--<button class="add" type="button" (click)="addField()">
                    <i class="fas fa-plus"></i>
                    Pareceristas
                </button>-->
                <button class="btn-get-started" type="submit">Submeter</button>
            </div>
        </form>
    </div>
</div>