div.container {
  max-height: 80vh;
  overflow: hidden;

  h2 {
    // font-size: 28px;
    margin: 0px 24px 0px 0px;
  }

  i.fa-times {
    cursor: pointer;
  }

  .reviewer {
    width: 100%;

    .icon {
      margin: auto auto;
      padding: 0px;

      button {
        padding: 0px;
        background-color: transparent;
        border: none;

        &:focus {
          outline: none;
        }

        .fa-trash {
          color: #e63b3b;
          font-size: 1.3rem;
        }
      }
    }

    select,
    input {
      padding: 6px 14px;
      border-radius: 0;
      box-shadow: none;
      font-size: 15px;
    }

    .add {
      background-color: #c08622;
      color: #fff;
      width: 30%;
      border: none;
      margin: 16px 16px 0px 0px;
      height: calc(1.5em + 0.75rem + 2px);
      i {
        font-size: 14px;
      }
    }

    .btn-get-started {
      background-color: #684e43;
      color: #fff;
      width: 30%;
      border: none;
      margin: 16px 16px 16px 0px;
      height: calc(1.5em + 0.75rem + 2px);
    }
  }
}
