#login {
    padding: 160px 0 40px 0;
    .box {
      h4 {
        margin-left: 0px;
      }
      p {
        margin-left: 0px;
      }
    }
  }
  
  #login .box {
    padding: 40px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 18px 14px rgba(73, 78, 92, 0.1);
    background: #fff;
    transition: 0.4s;
    form input {
      padding: 10px 14px;
      border-radius: 0;
      box-shadow: none;
      font-size: 15px;
    }
    div.form-group div.alert {
      margin-bottom: 0rem;
      margin-top: 1px;
      padding: 0.3rem 1.25rem;
      font-size: 13px;
    }
  }
  
  #login .box .icon {
    float: left;
  }
  
  #login .box .icon i {
    color: #444;
    font-size: 64px;
    transition: 0.5s;
    line-height: 0;
    margin-top: 34px;
  }
  
  #login .box .icon i:before {
    background: #2c8d13;
    background: linear-gradient(45deg, #20959b 0%, #a3ebd5 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #login .box h4 {
    margin-left: 100px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 22px;
  }
  
  #login .box h4 a {
    color: #444;
  }
  
  #login .box p {
    font-size: 14px;
    margin-left: 100px;
    margin-bottom: 0;
    line-height: 24px;
  }
  
  #login .login-content .btn-get-started,
  #login .login-content .btn-projects {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    cursor: pointer;
  }
  
  #login .login-content .btn-get-started {
    background: #2c8d13;
    border: 2px solid #2c8d13;
  }
  
  #login .login-content .btn-get-started:hover {
    background: none;
    color: #2c8d13;
  }
  
  #login .login-content .btn-projects {
    background: #20959b;
    border: 2px solid #20959b;
  }
  
  #login a {
    padding: 8px;
    text-decoration: underline;
    color: #2c8d13;
  }
  
  #login a:hover {
    color: #20959b;
  }
  
  #login .login-content .btn-projects:hover {
    background: none;
    color: #20959b !important;
  }
  
  @media only screen and (max-width: 576px) {
    #login {
      padding: 70px 40px;
    }
  }
  
  @media only screen and (min-width: 796px) {
    #login {
      padding: 80px 40px;
    }
  }
  