<!--==========================
    Submission
  ============================-->
<main id="submission">
    <div class="container submission-content">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <div class="box">
                    <div class="section-header">
                        <h2>Trabalhos submetidos</h2>
                    </div>
                    <div class="table-responsive-md table-responsive-sm">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Título</th>
                                    <th scope="col">Eixo</th>
                                    <th scope="col">Modalidade</th>
                                    <th scope="col">Partipantes</th>
                                    <th scope="col">Trabalhos</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>