<div class="container payment-content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div *ngIf="!carregando" class="section-header">
                    <div tabindex="0" alt="Bem vindo ao Endipe Virtual" class="prog-day mb-2">
                        <marquee><b><span>PROGRAMAÇÃO - {{date | dayAndMonth}}</span></b></marquee>
                    </div>
                </div>

                <div *ngIf="schedules.length > 0">
                    <div *ngFor="let schedule of schedules">
                        <div
                            *ngIf="schedule.type == '1' || schedule.type == '7' || schedule.type == '8' || schedule.type == '10' || schedule.type == '11' || schedule.type == '12' ">

                            <div class="card-works">
                                <div class="row">
                                    <div class="col-sm-10 mb-4">
                                        <h5 tabindex="0" *ngIf="schedule.type != '8'" style="color: white">
                                            {{schedule.type | modalitiesWork}}</h5>
                                        <h5 tabindex="0" *ngIf="schedule.type == '8'" style="color: white">
                                            {{schedule.theme | themeSimposio}}</h5>
                                        <h3 tabindex="0" *ngIf="schedule.type != '8'"><b>{{schedule?.titles[0]}}</b>
                                        </h3>
                                        <h3 tabindex="0" *ngIf="schedule.type == '8'"><b>{{schedule.themeSpeeches}}</b>
                                        </h3>
                                        <h4 style="margin-bottom: 25px;">{{schedule.date + ' ' + (schedule.startTime ?
                                            schedule.startTime : '') + ' -
                                            ' + (schedule.endTime ? schedule.endTime : '')}}
                                        </h4>
                                    </div>

                                    <div class="col-sm-2">
                                        <div *ngIf="carregando">
                                            <h4 class="mb-4"><button class="btn btn-inscrever"><i
                                                        class="fas fa-spinner fa-pulse"></i></button></h4>
                                        </div>
                                        <div style="cursor: pointer !important;">
                                            <h4 tabindex="0" alt="Clique para ver detalhes"
                                                style="position: absolute; bottom: 0; left: 2px; cursor: pointer !important;">
                                                <a class="btn btn-primary" (keyup.enter)="selectSchedule(schedule);"
                                                    (click)="selectSchedule(schedule);">Assistir <i
                                                        class="fa fa-chevron-down"></i></a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="work-content">
                                <div *ngIf="schedule._id == scheduleSelect">
                                    <div class="row align-items-center">

                                        <div *ngIf="schedule.type != '8'" class="col-12">
                                            <strong tabindex="0">Título</strong>
                                            <p tabindex="0" *ngFor="let item of schedule.titles"
                                                style="text-align: justify; text-justify: inter-word;">
                                                {{ item }}</p>
                                        </div>
                                        <div *ngIf=" schedule.type != '11' && (schedule.coordinators || schedule.coordinator)"
                                            class="col-12">
                                            <strong tabindex="0">Conferencistas</strong>
                                            <div *ngIf="schedule.coordinators">
                                                <p tabindex="0" *ngFor="let item of schedule.coordinators"
                                                    style="text-align: justify; text-justify: inter-word;">{{ item.name
                                                    }}
                                                    {{ item.isCoordinator ? '(Coordenador)' : '' }}</p>
                                            </div>
                                            <div *ngIf="schedule.coordinator">
                                                <p tabindex="0" *ngFor="let item of schedule.coordinator"
                                                    style="text-align: justify; text-justify: inter-word;">{{ item.name
                                                    }}</p>
                                            </div>
                                        </div>
                                        <div *ngIf="schedule.type == '11'" class="col-12">
                                            <strong tabindex="0">Entrevistados</strong>
                                            <div *ngIf="schedule.entrevistados">
                                                <p tabindex="0" *ngFor="let item of schedule.entrevistados"
                                                    style="text-align: justify; text-justify: inter-word;">{{ item.name
                                                    }}</p>
                                            </div>
                                            <strong>Entrevistadores</strong>
                                            <div *ngIf="schedule.entrevistadores">
                                                <p tabindex="0" *ngFor="let item of schedule.entrevistadores"
                                                    style="text-align: justify; text-justify: inter-word;">{{ item.name
                                                    }}</p>
                                            </div>

                                        </div>
                                        <hr />
                                        <div *ngIf="schedule?.virtual?.linkYoutube"
                                            class="row col-12 justify-content-center">
                                            <iframe tabindex="0" alt="clique para assistir" width="75%" height="400"
                                                [src]='linkYoutubeSafe' frameborder="0" allowfullscreen></iframe>
                                            <iframe width="25%" height="400" [src]='chatYoutubeSafe' frameborder="0"
                                                allowfullscreen></iframe>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- LANÇAMENTO DE LIVROS -->
                        <div *ngIf="schedule.type == '9'">

                            <div class="card-works">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <h5 style="color: white">{{schedule.type | modalitiesWork}}</h5>
                                        <h3 tabindex="0"><b>{{schedule?.titles[0]}}</b></h3>
                                        <h4 tabindex="0">{{schedule.date + ' ' + (schedule.startTime ?
                                            schedule.startTime : '') + ' - ' + (schedule.endTime ? schedule.endTime :
                                            '')}}</h4>
                                        <h4 tabindex="0" class="mb-1">
                                            Link para acesso: <b>
                                                <a tabindex="0" *ngIf="schedule?.virtual?.linkZoom"
                                                    [attr.href]="schedule?.virtual?.linkZoom" target="_blank">Clique
                                                    Aqui</a>
                                                <span tabindex="0" *ngIf="schedule?.virtual?.linkZoom"> ou copie
                                                    {{schedule?.virtual?.linkZoom}}</span>
                                                <span tabindex="0" *ngIf="!schedule?.virtual?.linkZoom">Em
                                                    breve</span></b>
                                        </h4>
                                    </div>

                                    <div class="col-sm-2">
                                        <div *ngIf="carregando">
                                            <h4 class="mb-4"><button class="btn btn-inscrever"><i
                                                        class="fas fa-spinner fa-pulse"></i></button></h4>
                                        </div>
                                        <div style="cursor: pointer !important;">
                                            <h4 class="btn btn-primary" *ngIf="!carregando"
                                                style="position: absolute; bottom: 0; left: 0; cursor: pointer !important;"
                                                (click)="selectBookSchedule(schedule)">Mais detalhes <i
                                                    class="fa fa-chevron-down"></i></h4>
                                            <h4 *ngIf="carregando"
                                                style="position: absolute; bottom: 0; left: 0; cursor: pointer !important;">
                                                <i class="fas fa-spinner fa-pulse"></i>Carregando
                                            </h4>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="work-content">
                                <div *ngIf="schedule._id == scheduleSelect">
                                    <div class="row justify-content-center"
                                        *ngFor="let item of schedule.books; let i = index">
                                        <div class="form-group col-md-12">
                                            <strong>Título</strong>
                                            <p style="text-align: justify; text-justify: inter-word;">{{ item.title }}
                                            </p>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <strong>Editora</strong>
                                            <p style="text-align: justify; text-justify: inter-word;">{{ item.editora }}
                                            </p>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <strong>Editora</strong>
                                            <p style="text-align: justify; text-justify: inter-word;">{{ item.editora }}
                                            </p>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <strong>Autores</strong>
                                            <p style="text-align: justify; text-justify: inter-word;">{{item.author}}
                                            </p>
                                        </div>


                                        <div class="form-group col-md-12">
                                            <strong>Ano de Publicação</strong>
                                            <p style="text-align: justify; text-justify: inter-word;">{{ item.ano }}
                                            </p>
                                        </div>


                                        <div #images class="row form-group col-md-12">

                                            <div class="form-group col-md-2">
                                                <div class="miniature-img ">
                                                    <img width="100px" height="150px"
                                                        src="https://ffainfinity.s3-sa-east-1.amazonaws.com/books/{{item.nameMiniature}}">
                                                </div>
                                            </div>

                                            <div class="col-md-10">
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <strong>Acesse</strong>
                                                        <p style="text-align: justify; text-justify: inter-word;"><a
                                                                [attr.href]="item.linkSale" target="_blank">Clique
                                                                aqui</a></p>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <strong>Resumo</strong>
                                                        <p style="text-align: justify; text-justify: inter-word;">
                                                            {{item.resume}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>

                                    <div *ngIf="pagerBooks.totalItems" class="pagination justify-content-center">

                                        <mat-paginator [length]="pagerBooks.totalItems" [pageSize]="pagerBooks.pageSize"
                                            (page)="pageEventBooks = getBooksPaginated(schedule, $event)">
                                        </mat-paginator>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- <div *ngIf="pager.totalItems" class="pagination justify-content-center">

                        <mat-paginator [length]="pager.totalItems" [pageSize]="pager.pageSize"
                            (page)="pageEvent = getSchedulePaginate($event, day, schedule.type)">
                        </mat-paginator>

                    </div>-->

                <!--</div>-->

                <!-- <div *ngIf="!carregandoLista && schedules.length == 0">
                        <h2><b>Não há {{schedule.type | modalitiesWork}} para o dia selecionado</b></h2>
                    </div>

                    <div *ngIf="carregandoLista" class="row"
                        style="display: flex; justify-content: center; align-items: center; height: 300px;">
                        <button schedule.type="button" class="btn btn-large btn-primary"><i class="fas fa-spinner fa-pulse ml-1"></i>
                            Aguarde</button>
                    </div>-->
            </div>

            <div *ngIf="carregando" class="row"
                style="display: flex; justify-content: center; align-items: center; height: 300px;">
                <button type="button" class="btn btn-large btn-primary"><i class="fas fa-spinner fa-pulse ml-1"></i>
                    Aguarde</button>
            </div>


        </div>
    </div>
</div>