.information {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    color: #684e43;
  }
  
  .title {
    font-weight: 600;
    font-size: 22px;
  }
  
  .card-navigate {
    background-color: #c08622;
    color: #fff;
    border-radius: 4px;
    padding: 6px 10px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    min-height: 52px;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
  }
  
  .button-programacao {
    border-radius: 4px;
    padding: 6px 10px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    width: 180px;
    min-height: 52px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
  }
  
  
  .btn-outline-primary-focus{
    color: white;
    border-color: #007bff;
    background-color: #007bff;
    border-radius: 4px;
    padding: 6px 10px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    width: 180px;
    min-height: 52px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
  }
  
  .btn-modalidade{
    color: #51d8af;
    border-color: #51d8af;
    background-color: white;
    border-radius: 4px;
    padding: 6px 10px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    width: 200px;
    min-height: 52px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
  }
  
  .btn-modalidade-focus{
    color: #007bff;
    border-color: #51d8af;
    background-color: #51d8af;
    border-radius: 4px;
    padding: 6px 10px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    width: 200px;
    min-height: 52px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
  }
  
  .not-schedule {
    background-color: #bfbfbf;
    display: flex;
    margin: 46px auto;
    padding: 22px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .schedule {
    overflow-x: auto;
  }
  
  .container-schedule {
    padding: 16px 0px;
  
    .nav-item {
      background-color: #c08622;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
  
      &:not(:last-child) {
        margin-right: 10px;
      }
  
      &.activated {
        background-color: #684e43;
      }
    }
  
    .filter {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
  
      :last-child {
        justify-self: flex-end;
      }
    }
  }
  