<div class="container">
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
</div>

<div class="container align-items-center text-center">
  <div class="">
    <div class="section-header" mat-dialog-title>
      <h2>
        Bem vindo ao <b>XXI ENDIPE 2022</b>
      </h2>
      <div class="">
        <div class="align-items-center">
          <div class="text-center" style="display: flex;justify-content: center;height: 300px;">
            <img src="../../assets/img/carrossel/0.png" alt="imagem ipê">
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="close()">Acessar</button>

  </div>
</div>