<div class="container">
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
</div>

<div class="container">
  <div class="row justify-content-between">
    <div class="section-header" mat-dialog-title>
      <h2>
        Bem vindo ao <b>XXI ENDIPE 2022</b> l
      </h2>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="close()">Acessar</button>

  </div>
</div>