.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  padding: 0px;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.pointer {
  cursor: pointer;
}

.dropdown-item:hover{
  color: #c08622;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

::ng-deep .mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 0px;
  min-height: 135px;
}

::ng-deep mat-sidenav,
::ng-deep .mat-drawer {
  background: rgba(52, 59, 64, 1);
  color: #fff;
}

::ng-deep accordion .card {
  background-color: transparent;
  border: none;
  width: 260px;

  .card-header {
    background-color: transparent;
    border: none;
  }

  .card-body {
    height: auto;
    padding: 0px 1.25rem 6px 1.25rem;
  }

  i {
    float: right;
  }
}

.child-list {
  list-style-type: none;
  padding: 10px 19px;
  margin-bottom: 0px;

  li {
    padding: 4px 0px;

    & a {
      color: #fff;
    }
  }
}

div.header {
  width: 100%;
  height: 135px;
}

@media only screen and (max-width: 576px) {

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    min-height: 75px;
  }

  div.header {
    height: 75px;
  }
}

@media only screen and (min-width: 769px) {

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    min-height: 85px;
  }

  div.header {
    height: 85px;
  }
}

@media only screen and (min-width: 992px) {

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    min-height: 140px;
  }

  div.header {
    height: 140px;
  }
}


#custom-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #000;
}

#custom-overlay img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.aoVivo{
  font: bold 18px Helvetica;
  color: #ffffff !important;
  text-decoration: none;
  background-color: rgb(252,25,42);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin: 10px 0px 0px 0px;
}

.pulse {
  animation: pulse 0.7s infinite;
  display: table;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
  }
  100% {
    -webkit-transform: scale(1.05);
    -webkit-filter: brightness(100%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }
  100% {
    transform: scale(1.05);
    filter: brightness(100%);
  }
}