<div class="container payment-content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div id="faq" class="section-header">
                    <h2>FAQ</h2>
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = !panelOpenState"
                            (closed)="panelOpenState = !panelOpenState">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Como saber as atividades que estão sendo oferecidas?
                                </mat-panel-title>

                            </mat-expansion-panel-header>
                            <p>Acesse o menu PROGRAMAÇÃO e navegue nas opções <a
                                    [routerLink]="['/programacao']">PROGRAMAÇÃO GERAL</a>, <a
                                    [routerLink]="['/programacao-aberta']">ATIVIDADES ABERTAS</a> e <a
                                    [routerLink]="['/inscrevase']">ATIVIDADES FECHADAS</a>. Você também pode consultar o
                                Caderno de Programação que está na aba "notícias".</p>
                        </mat-expansion-panel>
                        <br />
                        <mat-expansion-panel (opened)="panelOpenState2 = !panelOpenState"
                            (closed)="panelOpenState2 = !panelOpenState">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Não estou inscrito no congresso. Posso participar de quais atividades?
                                </mat-panel-title>

                            </mat-expansion-panel-header>
                            <p>Quem não está inscrito no XXI ENDIPE 2022 pode assistir todas as <a
                                    [routerLink]="['/programacao-aberta']">ATIVIDADES ABERTAS</a> que serão transmitidas
                                diariamente na aba ENDIPE VIRTUAL. São as sessões de abertura, encerramento, simpósios,
                                sessões especiais, atividades culturais e lançamento de livros. Para
                                saber as atividades de todos dias navegue no menu PROGRAMAÇÃO.</p>
                        </mat-expansion-panel>
                        <br />
                        <mat-expansion-panel (opened)="panelOpenState3 = !panelOpenState"
                            (closed)="panelOpenState3 = !panelOpenState">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Como acesso o vídeo da palestra que perdi?
                                </mat-panel-title>

                            </mat-expansion-panel-header>
                            <p>No menu PROGRAMAÇÃO, clique em <a [routerLink]="['/programacao-aberta']">ATIVIDADES
                                    ABERTAS</a>, selecione a modalidade (simpósio, sessão especial,
                                atividade cultural), selecione o dia e depois clique no link.</p>
                        </mat-expansion-panel>
                        <br />
                        <mat-expansion-panel (opened)="panelOpenState4 = !panelOpenState"
                            (closed)="panelOpenState4 = !panelOpenState">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    As atividades gravadas vão ficar disponíveis por quanto tempo?
                                </mat-panel-title>

                            </mat-expansion-panel-header>
                            <p>As gravações estarão de modo permanente no canal do <a
                                    href="https://www.youtube.com/channel/UCW_VVgPeRxR92bFu49cKGDw"
                                    title="Youtube Endipe" alt="Youtube Endipe" target="_blank" class="youtube">YouTube
                                    do XXI ENDIPE 2022</a> .</p>
                        </mat-expansion-panel>
                        <br />
                        <mat-expansion-panel (opened)="panelOpenState5 = !panelOpenState"
                            (closed)="panelOpenState5 = !panelOpenState">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Como encontro o link para assistir minicurso/painel?
                                </mat-panel-title>

                            </mat-expansion-panel-header>
                            <p>Os links estão disponíveis no MEU ENDIPE do menu AÇÕES. Para acessar é necessário logar
                                no sistema.</p>
                        </mat-expansion-panel>
                        <br />
                        <mat-expansion-panel (opened)="panelOpenState6 = !panelOpenState"
                            (closed)="panelOpenState6 = !panelOpenState">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Não me inscrevi em minicurso/painel. Posso participar?
                                </mat-panel-title>

                            </mat-expansion-panel-header>
                            <p>Não. Os links dessas atividades foram enviados apenas para aqueles que se inscreveram.
                            </p>
                        </mat-expansion-panel>
                        <br />
                        <mat-expansion-panel (opened)="panelOpenState7 = !panelOpenState"
                            (closed)="panelOpenState7 = !panelOpenState">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Perdi o minicurso/painel. Posso assistir depois?
                                </mat-panel-title>

                            </mat-expansion-panel-header>
                            <p>Não. Essas atividades são síncronas, aquelas em que é necessária a participação dos
                                envolvidos no mesmo instante e no mesmo ambiente – nesse caso, virtual. Como é
                                necessário se conectar no mesmo momento e interagir entre si nesse tipo de atividade não
                                são disponibilizadas gravações.</p>
                        </mat-expansion-panel>
                        <br />
                        <mat-expansion-panel (opened)="panelOpenState8 = !panelOpenState"
                            (closed)="panelOpenState8 = !panelOpenState">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Como retiro o meu certificado?
                                </mat-panel-title>

                            </mat-expansion-panel-header>
                            <p>Os certificados dos congressistas estarão disponíveis na aba <a
                                    [routerLink]="['/certificados']">CERTIFICADOS</a> do menu AÇÕES do site a partir de
                                28/11/2022. Para acessar é necessário logar no sistema.</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

                <div id="pergunte" class="section-header">
                    <h2>Pergunte a secretaria</h2>
                    <p>Mande-nos sua dúvida que logo responderemos</p>
                    <div *ngIf="!user">
                        Para interagir você precisa estar logado na plataforma.
                    </div>
                    <div *ngIf="user">
                        <app-admin-chat-virtual [comments]="comments" [user]="user"></app-admin-chat-virtual>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>