.btn-get-started {
  background-color: #2c8d13;
  text-transform: uppercase;
  border-radius: 4px;
  color: #fff;
  width: 30%;
  border: none;
  margin: 14px 16px 0px;
  height: calc(1.5em + 0.75rem + 2px);
  i {
    font-size: 14px;
  }
}
