div.container {
  max-height: 80vh;
  overflow: hidden;

  h2 {
    margin: 0px 24px 0px 0px;
  }

  i.fa-times {
    cursor: pointer;
  }

  .coordinator {
    width: 100%;

    .scrolling {
      max-height: 40vh;
      padding: 10px 10px;
      overflow-x: hidden;
      overflow-y: auto;

      select,
      input {
        padding: 6px 14px;
        border-radius: 0;
        box-shadow: none;
        font-size: 15px;
      }

      div.form-group div.alert {
        border-radius: 0px;
        margin-bottom: 0rem;
        margin-top: 1px;
        padding: 0.3rem 1.25rem;
        font-size: 13px;
      }
    }

    .add {
      background-color: #20959b;
      color: #fff;
      width: 30%;
      border: none;
      margin: 16px 16px 0px 0px;
      height: calc(1.5em + 0.75rem + 2px);
      i {
        font-size: 14px;
      }
    }

    .btn-get-started {
      background-color: #2c8d13;
      color: #fff;
      width: 30%;
      border: none;
      margin: 16px 16px 16px 0px;
      height: calc(1.5em + 0.75rem + 2px);
    }
  }
}
