<p></p>
<div *ngIf="!carregando" class="form">


  <hr />

  <div *ngFor="let work of works; let i = index" [ngClass]="{'mb-3': works.length > 1}">


    <div class="review-list-cards">

      <div class="row">
        <div class="col-md-10 border-right">
          <small>TÍTULO</small>
          <h4>{{ work.title }}</h4>
        </div>
        <div style="cursor:pointer;" class="col-md-2 text-center align-self-center pointer">
          <button *ngIf="!work?.reviewReviewer?.isReviewOfCoordinator " (click)="openReviewForm(work);" type="button"
            style="color:white; background-color: #e26666;" class="btn btn-warning"> <i class="fa fa-comments">
              Parecer</i>
          </button>

          <button *ngIf="work?.reviewReviewer?.isReviewOfCoordinator " type="button"
            style="color:white; background-color: #e26666;" class="btn btn-warning"> <i class="fa fa-comments">
              Parecer realizado pelo coordenador</i>
          </button>

        </div>
      </div>
      <hr />
      <div class="">
        <small>Download</small>
        <br />
        <div class="row border-right" style="padding-left: 15px;">

          <div class="col-md-5">
            <!--<button type="button" style="background-color: #684e43;" (click)="download(work.pathS3DOC)"
                            class="btn btn-success">Download
                            pdf</button>-->

            <button type="button" style="background-color: #684e43; padding-left: 18px;"
              (click)="download(work.pathS3PDF)" class="btn btn-success">Download
              doc</button>
          </div>

          <div class="col-md-5 float-left">

          </div>

          <div class="col-md-2">

            <button *ngIf="!work.reviewReviewer" type="button" style="background-color:white; color: rgb(0, 0, 0);"
              class="btn btn-primary">
              <i class="fa fa-smile-o"> Sem parecer</i>
            </button>

            <button *ngIf="work?.reviewReviewer?.review?.icAllow == 'Nao'" type="button"
              style="background-color:white; color: #a71212; margin-left: 0px !important; padding-left: 0px!important;"
              class="btn btn-primary float-left">
              <i class="fa fa-thumbs-o-down"> Parecer Negativo</i>
            </button>

            <button *ngIf="work?.reviewReviewer?.review?.icAllow == 'Sim'" type="button"
              style="background-color:white; color: #1cb616;" class="btn btn-primary float-right">
              <i class="fa fa-thumbs-o-up"> Parecer Positivo</i>
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="carregando">
  <h4>Aguarde...</h4>
</div>

<div *ngIf="!carregando && works.length == 0">
  <h4>Você não possui trabalhos para realizar o parecer</h4>
</div>