.card-content {
  position: relative;

  .card {
    background: #2c8d13;
    width: 100%;
    padding: 16px;
    margin: 8px 0px;

    .flex {
      display: flex;
      flex-flow: row wrap;
    }

    .group-buttons {
      display: flex;
      flex-grow: 2;
      justify-content: flex-end;
    }

    .no-padding {
      padding: 0px 0px;
    }

    .menu {
      color: #fff;
      background: #0d235f;
      box-shadow: 0px 0px 5px #000000bd;
      cursor: pointer;
      border-radius: 8px;
      padding: 8px 10px;
      margin: 0px 16px 0px 0px;
      text-align: center;
      border: unset;
    }

    .expand {
      color: #fff;
      background: #0d235f;
      box-shadow: 0px 0px 5px #000000bd;
      cursor: pointer;
      border-radius: 8px;
      padding: 8px 10px;
      margin: 0px 16px 0px 0px;
      text-align: center;

      .fa-trash {
        margin: auto;
      }
    }

    .group {
      // flex-flow: column nowrap;
      // align-items: start;
      margin-bottom: 8px;
      // flex-grow: 10;

      .label {
        color: #fff;
        margin-bottom: 8px;
      }

      .hour {
        color: #fff;
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: 300;
        font-family: sans-serif;
      }

      .title {
        color: #fff;
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.1rem;
        margin: 0px 0px 4px 12px;

        &:not(.not-dash) {
          &:before {
            content: "-";
          }
        }
      }

      .title-child {
        margin: 0px 0px 8px 12px;
      }

      .theme {
        color: #fff;
        font-family: sans-serif;
        font-weight: 600;
        line-height: 2rem;
        font-size: 16px;
      }
    }
  }

  .card-info {
    background: #20959b;
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    z-index: 999;
    top: 70px;
    left: 16px;
    display: none;
  }
}

.pointer {
  cursor: pointer;
}
