<div class="container">
  <div class="scroll">
    <h2><strong>TERMOS DE USO</strong></h2>


    O 21º ENDIPE – Uberlândia 2022 tem como objetivos:
    <br /><br />
    <p>
      a) divulgar pesquisas, estudos, experiências sobre a Didática, práticas de
      ensino, docência, saberes docentes, currículo e formação de professores,
      no entrecruzamento de múltiplos olhares sobre o cenário político-social
      da atualidade, seus desafios, embates, enfrentamentos e implicações sobre
      a educação básica e educação superior;
      <br /><br />
      b) discutir e aprofundar compreensões sobre a Didática na contemporaneidade,
      com base em abordagens críticas, emancipatórias, inovadoras, criativas,
      em busca da compreensão e (re)construção de práxis efetivas em favor da
      transformação social;
      <br /><br />
      c) aprofundar experiências formativas, confrontar paradigmas, aprimorar
      espaços de interlocução, diálogos e de trabalho colaborativo entre as
      diversas instituições de educação superior e educação básica.
      <br /><br />
      Dessa forma, os dados e materiais inseridos no site do
      21º ENDIPE – Uberlândia 2022 serão utilizados exclusivamente para o cumprimento
      desses objetivos.
      <br /><br />
    </p>
  </div>
</div>