<i class="fa fa-times pointer" (click)="close()"></i>
<div class="container">
    <div class="scroll">

        <h3><strong style="color: rgb(180, 18, 18); text-align: center">REGRAS ESPECÍFICAS PARA SUBMISSÃO DE
                TRABALHO</strong>
        </h3>



        <h4><strong>PAINEL</strong></h4>

        Os Painéis têm como finalidade a apresentação de trabalhos elaborados pelos autores,
        decorrentes de pesquisas concluídas ou experiências de ensino consolidadas. O tema
        do Painel deverá se relacionar com um dos eixos do Encontro e a sua proposta deverá
        conter três trabalhos de instituições diferentes, sendo um, obrigatoriamente, de
        professor/a da Educação Básica.
        <br /><br />
        Cada trabalho que comporá o Painel deverá atender ao limite máximo de quatro autores.
        <br /><br />
        Os proponentes apresentarão propostas completas de painéis, uma vez que o Comitê
        Organizador não irá estruturar painéis a partir de propostas individuais. As propostas
        devem ser encaminhadas pelo coordenador do Painel, que deverá criar um título
        pertinente aos três trabalhos que o compõem, considerando o seguinte:
        <br /><br />
        <ul>
            <li>
                Duração do Painel: 90 minutos;
            </li>
            <li>
                A estrutura do Painel deve conter: título, resumo, três a cinco palavras-chave,
                eixo, coordenação; seguido dos três textos completos com respectivos resumos
                dos diferentes proponentes;
            </li>
            <li>
                A apresentação de cada expositor (um para cada trabalho do Painel) será
                sistematizada em 20 minutos. Deverão ser dedicados 30 minutos finais para
                debate dos trabalhos entre os participantes.
            </li>
        </ul>
        <strong>Organização dos textos que acompanham o Painel para publicação em meio
            eletrônico no formato E-book</strong>
        <br /><br />
        Cada um dos três textos do Painel deverá ter formato de artigo, com problemática
        anunciada e desenvolvida, conclusões/recomendações e referências bibliográficas. A
        digitação e a formatação do texto devem seguir as orientações abaixo:
        <br /><br />
        <ul>
            <li>
                O resumo geral do Painel e de cada texto que o compõe deve conter entre 250 e
                300 palavras, em espaço simples, apresentando no final, três a cinco palavras-
                chave;
            </li>
            <li>
                O texto em forma de artigo deve ser estruturado em torno de 8 (oito) a 12 (doze)
                páginas, em espaço 1,5;
            </li>
            <li>
                Referências e anexos;
            </li>
            <li>
                As citações e as notas devem seguir as normas da ABNT em vigor;
            </li>
            <li>
                Não utilizar notas de rodapé (notas de fim são aceitas);
            </li>
            <li>
                As referências devem ficar localizadas ao final do texto, contendo
                exclusivamente as obras citadas;
            </li>
            <li>
                Os quadros, tabelas, gráficos, figuras (fotografias ou desenhos) devem vir após
                as referências, com indicação de fonte (quando for o caso);
            </li>
            <li>
                O limite estabelecido entre 8 e 12 páginas considera resumo, palavras-chaves,
                texto, referências e anexos;
            </li>
            <li>
                A proposta completa do Painel (com o seu resumo e os três textos reunidos) não
                poderá ultrapassar o limite de 37 páginas.
            </li>
        </ul>

        <strong>O formato do texto deve considerar:</strong>
        <br />
        Os três trabalhos que compõem o Painel deverão ser organizados no mesmo arquivo,
        conforme instruções que se seguem:
        <br /><br />
        <strong>O formato do texto deve considerar:</strong><br />
        <ul>
            <li>
                Programa: WORD FOR WINDOWS;
            </li>
            <li>
                Fonte: Times New Roman, tamanho 12;
            </li>
            <li>
                Papel tamanho A4;
            </li>
            <li>
                Margem superior e inferior com 2,5 cm;
            </li>
            <li>
                Margem esquerda e direita com 3 cm;
            </li>
            <li>
                Espaçamento entre linhas: 1,5 cm (no caso do resumo, espaçamento simples);
            </li>
            <li>
                Alinhamento: Justificado;
            </li>
            <li>
                Páginas numeradas a partir da segunda (no alto, à direita); mínimo de oito (8),
                máximo de doze (12 páginas);
            </li>
            <li>
                Cabeçalho e rodapé conforme TEMPLATE.

            </li>
        </ul>

        <strong>Anexando arquivos (será anexado somente um arquivo - em duas extensões - com todos os textos):</strong>
        <br />
        Com o objetivo de garantir o anonimato dos trabalhos para o processo de avaliação, o
        arquivo de cada proposta de Painel deverá ser encaminhado em duas extensões. A
        primeira extensão, em formato *doc/*docx, deve conter todas as informações indicadas
        a seguir, com EXCEÇÃO do nome dos autores e das instituições. A segunda extensão,
        em formato *pdf, deve conter as seguintes informações:
        <br /><br />

        <ul>
            <li>
                Título do Painel em maiúsculo/negrito com alinhamento centralizado;
            </li>
            <li>
                Nome do/a coordenador/a do Painel e sua instituição com alinhamento à direita,
            </li>
            <li>
                O resumo do painel;
            </li>
            <li>
                Título de cada trabalho em maiúsculo/negrito com alinhamento centralizado;
            </li>
            <li>
                Nome(s) do(s) autor(es) e instituição(ões) com alinhamento à direita;
            </li>
            <li>
                Resumo e texto completo de cada trabalho do painel.
            </li>
        </ul>

        <strong style="color: red">ATENÇÃO:</strong> Os arquivos deverão ser nomeados conforme o modelo que segue:
        Painel
        seguido do cpf do coordenador do painel (Exemplo: painel00000000000).
        <br /><br />

    </div>
</div>