<div class="container">
    <div class="scroll">
        <h3><strong style="color: rgb(180, 18, 18); text-align: center">REGRAS ESPECÍFICAS PARA SUBMISSÃO DE
                TRABALHO</strong>
        </h3>


        <h4><strong>RODA DE CONVERSA</strong></h4>
        <br />

        As Rodas de Conversa poderão ser propostas por um ou mais profissionais da Educação
        Básica e/ou da Educação Superior (atendendo ao limite máximo de quatro proponentes,
        devendo ser planejada para uma sessão de uma hora e meia cada, para um grupo
        limitado e específico de participantes, com inscrição prévia, a ser realizada conforme
        cronograma do evento.
        <br /><br />

        Serão aceitas como Rodas de Conversa propostas de assunto relevante e associado às
        temáticas dos eixos do 20º ENDIPE – Rio 2020.
        <br /><br />

        O texto na íntegra da Roda de Conversa deverá conter 300 e 500 palavras, em formato
        de resumo, contendo: <strong>título, ementa, metodologia, público alvo, limite máximo de nº
            de participantes e referências bibliográficas.</strong>
        <br /><br />


        <strong>O formato do texto deve considerar:</strong><br />
        <ul>
            <li>
                Programa: WORD FOR WINDOWS;
            </li>
            <li>
                Fonte: Times New Roman, tamanho 12;
            </li>
            <li>
                Papel tamanho A4;
            </li>
            <li>
                Margem superior e inferior com 2,5 cm;
            </li>
            <li>
                Margem esquerda e direita com 3 cm;
            </li>
            <li>
                Espaçamento entre linhas: simples;
            </li>
            <li>
                Alinhamento: Justificado;
            </li>
            <li>
                Cabeçalho e rodapé conforme TEMPLATE.
            </li>
        </ul>

        <strong>Anexando arquivos</strong>
        <br />
        Com o objetivo de garantir o anonimato dos trabalhos para o processo de avaliação, o
        arquivo de cada proposta de Roda de Conversa deverá ser encaminhado em duas
        extensões. A primeira extensão, em formato *doc/*docx, deve conter todas as
        informações indicadas a seguir, com EXCEÇÃO do nome dos autores e das instituições.
        A segunda extensão, em formato *pdf, deve conter as seguintes informações:
        <br /><br />
        <ul>
            <li>
                Título da Roda de Conversa em maiúsculo/negrito com alinhamento
                centralizado;
            </li>
            <li>
                Nome(s) do(s) autor(es) e instituição(ões) com alinhamento à direita;
            </li>
            <li>
                Corpo do texto (ementa, metodologia, público alvo, limite máximo de nº de
                participantes e referências bibliográficas).
            </li>
        </ul>

        <strong style="color: red">ATENÇÃO: </strong>Os arquivos deverão ser nomeados conforme o modelo que segue: Roda
        de
        Conversa seguido do cpf do primeiro proponente (Exemplo: rodadeconversa00000000000).
        <br /><br />
    </div>
</div>