<div class="container">
  <div class="scroll">
    <h2><strong>NORMAS GERAIS</strong></h2>


    A Secretaria do 20º ENDIPE – Rio 2020 receberá submissões de trabalhos nas
    modalidades <strong>Minicurso, Roda de Conversa, Painel e Pôster, no período 16 de
      outubro a 18 de fevereiro de 2020.</strong>
    <br /><br />
    A língua oficial do evento é o português, mas serão também aceitos trabalhos em
    espanhol.
    <br />
    Cada participante poderá inscrever até dois trabalhos, desde que em modalidades
    diferentes. Se um participante submeter mais trabalhos do que o número permitido, só
    serão considerados os dois primeiros trabalhos enviados. Cada trabalho poderá contar
    com até quatro autores.
    <br /><br />
    O pagamento da inscrição é condição para envio de trabalhos. Todos os autores deverão
    estar inscritos e ter realizado o pagamento da taxa de inscrição no evento. O pagamento
    da inscrição não garante a aprovação do trabalho e o valor correspondente à inscrição no
    evento não será devolvido, em hipótese alguma.
    <br /><br />
    A Secretaria encaminhará as propostas de trabalhos que atendam às normas de
    formulação e formatação para o Comitê Científico. Os proponentes devem se informar
    no site do evento sobre o resultado da avaliação, <strong>a partir de 30 de abril de 2020</strong>.
    <br /><br />
    Todo o processo de submissão, inscrição, acompanhamento da avaliação e pedido de
    recursos deverá ser feito exclusivamente, na área do inscrito, no site do evento
    <strong>(www.xxendiperio2020.com.br)</strong>.
    <br /><br />
    Os trabalhos aceitos nas modalidades painel e pôster serão publicados em meio
    eletrônico, no formato <strong>E-book</strong>.
    <br /><br />
    <strong>ATENÇÃO:</strong> Não serão avaliados trabalhos que não atendam aos critérios
    estabelecidos
    para elaboração e formatação, conforme orientações a seguir.
    <br /><br />


    <h3><strong>ORIENTAÇÕES</strong></h3>
    <ul>
      <li>
        O texto/proposta deve ser enviado exclusivamente pelo site (www.xxendiperiorio2020.com.br) por meio do
        cadastro pessoal de um/a do/as autores.
      </li>
      <li>
        O texto/proposta do(s) autor(es) deve estar articulado a um dos Eixos
        Temáticos, devendo explicitá-lo na ficha de envio.
      </li>
      <li>
        Qualquer texto/proposta, independentemente de ser de autoria de professor da
        educação básica ou superior, poderá ser relato de pesquisa ou de experiência,
        observando que pesquisa concluída e experiência consolidada é para Painel e
        pesquisa ou experiência em andamento é para Pôster.
      </li>
      <li>
        Os textos/propostas NÃO devem conter nenhuma identificação que o exclua
        por quebra de anonimato: referência explícita da autoria no corpo do texto ou em
        notas de rodapé; citação, vinculada ao nome do autor ou do orientador, em caso
        de dissertação ou tese.
      </li>
      <li>
        Os autores deverão atentar para o atendimento aos padrões de ética na
        pesquisa bem como para a correção de linguagem e normatização técnica da
        ABNT.
      </li>
      <li>
        O material aceito para apresentação e/ou publicação será utilizado em sua
        versão original, ou seja, os arquivos enviados não são passíveis de substituição
        e/ou modificações posteriores. A revisão do(s) trabalho(s) é de responsabilidade
        do(s) autor(es).
      </li>

    </ul>
    <br />
    <h3><strong>REGRAS ESPECÍFICAS PARA SUBMISSÃO DE
        TRABALHO</strong>
    </h3>
    <br />

    <h4><strong>1. MINICURSO</strong></h4>


    Os Minicursos poderão ser propostos por um ou mais profissionais da Educação Básica
    e/ou da Educação Superior, atendendo ao limite máximo de quatro proponentes,
    devendo ser planejado para, no mínimo, duas e, no máximo, três sessões de uma hora e
    meia cada, para um grupo limitado e específico de participantes, com inscrição prévia, a
    ser realizada conforme cronograma do evento.
    <br /><br />

    Serão aceitos como Minicursos propostas de desenvolvimento didático de assunto
    relevante e associado às temáticas dos eixos do 20º ENDIPE – Rio 2020.
    <br /><br />

    O texto na íntegra do minicurso deverá conter 300 e 500 palavras, contendo: <strong>título,
      ementa, objetivo(s), nº de sessões, metodologia/avaliação, público alvo, limite
      máximo de nº de participantes e referências bibliográficas.</strong>
    <br /><br />

    <strong>O formato do texto deve considerar:</strong><br />
    <ul>
      <li>
        Programa: WORD FOR WINDOWS;
      </li>
      <li>
        Fonte: Times New Roman, tamanho 12;
      </li>
      <li>
        Papel tamanho A4;
      </li>
      <li>
        Margem superior e inferior com 2,5 cm;
      </li>
      <li>
        Margem esquerda e direita com 3 cm;
      </li>
      <li>
        Espaçamento entre linhas: 1,5 cm;
      </li>
      <li>
        Alinhamento: Justificado;
      </li>
      <li>
        Cabeçalho e rodapé conforme TEMPLATE.
      </li>
    </ul>

    <strong>Anexando arquivos</strong>
    <br />

    Com o objetivo de garantir o anonimato dos trabalhos para o processo de avaliação, o
    arquivo de cada proposta de Minicurso deverá ser encaminhado em duas extensões. A
    primeira extensão, em formato *doc/*docx, deve conter todas as informações indicadas
    a seguir, com EXCEÇÃO do nome dos autores e das instituições. A segunda extensão,
    em formato *pdf, deve conter as seguintes informações:
    <br /><br />
    <ul>
      <li>
        Título do Minicurso em maiúsculo/negrito com alinhamento centralizado;
      </li>
      <li>
        Nome(s) do(s) autor(es) e instituição(ões) com alinhamento à direita;
      </li>
      <li>
        Corpo do texto (ementa, objetivo/s, nº de sessões, metodologia/avaliação,
        público alvo, limite máximo de nº de participantes e referências bibliográficas).
      </li>
    </ul>
    <strong>ATENÇÃO:</strong>Os arquivos deverão ser nomeados conforme o modelo que segue:
    Minicurso seguido do cpf do primeiro proponente (Exemplo:
    minicurso00000).
    <br /><br />

    <h4><strong>2. RODA DE CONVERSA</strong></h4>
    <br />

    As Rodas de Conversa poderão ser propostas por um ou mais profissionais da Educação
    Básica e/ou da Educação Superior (atendendo ao limite máximo de quatro proponentes,
    devendo ser planejada para uma sessão de uma hora e meia cada, para um grupo
    limitado e específico de participantes, com inscrição prévia, a ser realizada conforme
    cronograma do evento.
    <br /><br />

    Serão aceitas como Rodas de Conversa propostas de assunto relevante e associado às
    temáticas dos eixos do 20º ENDIPE – Rio 2020.
    <br /><br />

    O texto na íntegra da Roda de Conversa deverá conter 300 e 500 palavras, em formato
    de resumo, contendo: <strong>título, ementa, metodologia, público alvo, limite máximo de nº
      de participantes e referências bibliográficas.</strong>
    <br /><br />


    <strong>O formato do texto deve considerar:</strong><br />
    <ul>
      <li>
        Programa: WORD FOR WINDOWS;
      </li>
      <li>
        Fonte: Times New Roman, tamanho 12;
      </li>
      <li>
        Papel tamanho A4;
      </li>
      <li>
        Margem superior e inferior com 2,5 cm;
      </li>
      <li>
        Margem esquerda e direita com 3 cm;
      </li>
      <li>
        Espaçamento entre linhas: simples;
      </li>
      <li>
        Alinhamento: Justificado;
      </li>
      <li>
        Cabeçalho e rodapé conforme TEMPLATE.
      </li>
    </ul>

    <strong>Anexando arquivos</strong>
    <br />
    Com o objetivo de garantir o anonimato dos trabalhos para o processo de avaliação, o
    arquivo de cada proposta de Roda de Conversa deverá ser encaminhado em duas
    extensões. A primeira extensão, em formato *doc/*docx, deve conter todas as
    informações indicadas a seguir, com EXCEÇÃO do nome dos autores e das instituições.
    A segunda extensão, em formato *pdf, deve conter as seguintes informações:
    <br /><br />
    <ul>
      <li>
        Título da Roda de Conversa em maiúsculo/negrito com alinhamento
        centralizado;
      </li>
      <li>
        Nome(s) do(s) autor(es) e instituição(ões) com alinhamento à direita;
      </li>
      <li>
        Corpo do texto (ementa, metodologia, público alvo, limite máximo de nº de
        participantes e referências bibliográficas).
      </li>
    </ul>

    <strong>ATENÇÃO: </strong>Os arquivos deverão ser nomeados conforme o modelo que segue: Roda
    de
    Conversa seguido do cpf do primeiro proponente (Exemplo: rodadeconversa00000).
    <br /><br />

    <h4><strong>3. PAINEL</strong></h4>

    Os Painéis têm como finalidade a apresentação de trabalhos elaborados pelos autores,
    decorrentes de pesquisas concluídas ou experiências de ensino consolidadas. O tema
    do Painel deverá se relacionar com um dos eixos do Encontro e a sua proposta deverá
    conter três trabalhos de instituições diferentes, sendo um, obrigatoriamente, de
    professor/a da Educação Básica.
    <br /><br />
    Cada trabalho que comporá o Painel deverá atender ao limite máximo de quatro autores.
    <br /><br />
    Os proponentes apresentarão propostas completas de painéis, uma vez que o Comitê
    Organizador não irá estruturar painéis a partir de propostas individuais. As propostas
    devem ser encaminhadas pelo coordenador do Painel, que deverá criar um título
    pertinente aos três trabalhos que o compõem, considerando o seguinte:
    <br /><br />
    <ul>
      <li>
        Duração do Painel: 90 minutos;
      </li>
      <li>
        A estrutura do Painel deve conter: título, resumo, três a cinco palavras-chave,
        eixo, coordenação; seguido dos três textos completos com respectivos resumos
        dos diferentes proponentes;
      </li>
      <li>
        A apresentação de cada expositor (um para cada trabalho do Painel) será
        sistematizada em 20 minutos. Deverão ser dedicados 30 minutos finais para
        debate dos trabalhos entre os participantes.
      </li>
    </ul>
    <strong>Organização dos textos que acompanham o Painel para publicação em meio
      eletrônico no formato E-book</strong>
    <br /><br />
    Cada um dos três textos do Painel deverá ter formato de artigo, com problemática
    anunciada e desenvolvida, conclusões/recomendações e referências bibliográficas. A
    digitação e a formatação do texto devem seguir as orientações abaixo:
    <br /><br />
    <ul>
      <li>
        O resumo geral do Painel e de cada texto que o compõe deve conter entre 250 e
        300 palavras, em espaço simples, apresentando no final, três a cinco palavras-
        chave;
      </li>
      <li>
        O texto em forma de artigo deve ser estruturado em torno de 8 (oito) a 12 (doze)
        páginas, em espaço 1,5;
      </li>
      <li>
        Referências e anexos;
      </li>
      <li>
        As citações e as notas devem seguir as normas da ABNT em vigor;
      </li>
      <li>
        Não utilizar notas de rodapé (notas de fim são aceitas);
      </li>
      <li>
        As referências devem ficar localizadas ao final do texto, contendo
        exclusivamente as obras citadas;
      </li>
      <li>
        Os quadros, tabelas, gráficos, figuras (fotografias ou desenhos) devem vir após
        as referências, com indicação de fonte (quando for o caso);
      </li>
      <li>
        O limite estabelecido entre 8 e 12 páginas considera resumo, palavras-chaves,
        texto, referências e anexos;
      </li>
      <li>
        A proposta completa do Painel (com o seu resumo e os três textos reunidos) não
        poderá ultrapassar o limite de 37 páginas.
      </li>
    </ul>

    <strong>O formato do texto deve considerar:</strong>
    <br />
    Os três trabalhos que compõem o Painel deverão ser organizados no mesmo arquivo,
    conforme instruções que se seguem:
    <br /><br />
    <strong>O formato do texto deve considerar:</strong><br />
    <ul>
      <li>
        Programa: WORD FOR WINDOWS;
      </li>
      <li>
        Fonte: Times New Roman, tamanho 12;
      </li>
      <li>
        Papel tamanho A4;
      </li>
      <li>
        Margem superior e inferior com 2,5 cm;
      </li>
      <li>
        Margem esquerda e direita com 3 cm;
      </li>
      <li>
        Espaçamento entre linhas: 1,5 cm (no caso do resumo, espaçamento simples);
      </li>
      <li>
        Alinhamento: Justificado;
      </li>
      <li>
        Páginas numeradas a partir da segunda (no alto, à direita); mínimo de oito (8),
        máximo de doze (12 páginas);
      </li>
      <li>
        Cabeçalho e rodapé conforme TEMPLATE.

      </li>
    </ul>

    <strong>Anexando arquivos (será anexado somente um arquivo - em duas extensões - com todos os textos):</strong>
    <br />
    Com o objetivo de garantir o anonimato dos trabalhos para o processo de avaliação, o
    arquivo de cada proposta de Painel deverá ser encaminhado em duas extensões. A
    primeira extensão, em formato *doc/*docx, deve conter todas as informações indicadas
    a seguir, com EXCEÇÃO do nome dos autores e das instituições. A segunda extensão,
    em formato *pdf, deve conter as seguintes informações:
    <br /><br />

    <ul>
      <li>
        Título do Painel em maiúsculo/negrito com alinhamento centralizado;
      </li>
      <li>
        Nome do/a coordenador/a do Painel e sua instituição com alinhamento à direita,
      </li>
      <li>
        O resumo do painel;
      </li>
      <li>
        Título de cada trabalho em maiúsculo/negrito com alinhamento centralizado;
      </li>
      <li>
        Nome(s) do(s) autor(es) e instituição(ões) com alinhamento à direita;
      </li>
      <li>
        Resumo e texto completo de cada trabalho do painel.
      </li>
    </ul>

    <strong>ATENÇÃO:</strong> Os arquivos deverão ser nomeados conforme o modelo que segue:
    Painel
    seguido do cpf do coordenador do painel (Exemplo: painel00000000000).
    <br /><br />

    <h4><strong>4. PÔSTER</strong></h4>


    Os Pôsteres têm como finalidade a apresentação de trabalho decorrente de <strong>pesquisas
      em andamento ou experiências de ensino em realização.</strong> O tema do Pôster deverá se
    relacionar com um dos eixos do Encontro, podendo ser submetido por estudantes de
    pós-graduação, professor da Educação Básica e/ou Professor da Educação Superior.
    <br /><br />
    Os Pôsteres deverão atender ao limite máximo de quatro autores.
    <br /><br />
    Os Pôsteres serão debatidos em salas de comunicações com mediações de professores
    convidados, devendo ser apresentado em formato digital para projeção multimídia, não
    sendo necessária a confecção de banner.
    <br /><br />
    <strong>Organização do texto do Pôster para publicação em meio eletrônico no formato E-
      book</strong>
    <br />
    O texto do Pôster deverá ter formato de artigo, com problemática anunciada e
    desenvolvida, conclusões e referências bibliográficas. A digitação e a formatação do
    texto devem seguir as orientações abaixo:
    <br /><br />
    <ul>
      <li>
        O resumo de cada texto do pôster deve conter entre 250 e 300 palavras, em
        espaço simples, apresentando no final, três a cinco palavras-chave;
      </li>

      <li>
        O texto em forma de artigo deve ser estruturado em torno de 5 (cinco) a 8 (oito)
        páginas, em espaço 1,5;
      </li>

      <li>
        Referências e anexos;
      </li>

      <li>
        Não utilizar notas de rodapé (notas de fim são aceitas);
      </li>

      <li>
        As referências devem ficar localizadas ao final do texto, contendo
        exclusivamente as obras citadas;
      </li>

      <li>
        Os quadros, tabelas, gráficos, figuras (fotografias ou desenhos) devem vir após
        as referências, com indicação de fonte (quando for o caso);
      </li>

      <li>
        O limite estabelecido entre 5 (cinco) a 8 (oito) páginas considera resumo,
        palavras-chaves, texto, referências e anexos.
      </li>
    </ul>

    <strong>O formato do texto deve considerar:</strong><br />
    <ul>
      <li>
        Programa: WORD FOR WINDOWS;
      </li>
      <li>
        Fonte: Times New Roman, tamanho 12;
      </li>
      <li>
        Papel tamanho A4;
      </li>
      <li>
        Margem superior e inferior com 2,5 cm;
      </li>
      <li>
        Margem esquerda e direita com 3 cm;
      </li>
      <li>
        Espaçamento entre linhas: 1,5 cm (no caso do resumo, espaçamento simples);
      </li>
      <li>
        Alinhamento: Justificado;
      </li>
      <li>
        Páginas numeradas a partir da segunda (no alto, à direita); mínimo de cinco (5),
        máximo de oito (8 páginas);
      </li>
      <li>
        abeçalho e rodapé conforme TEMPLATE.

      </li>
    </ul>

    <strong>Anexando arquivos</strong><br />
    Com o objetivo de garantir o anonimato dos trabalhos para o processo de avaliação, o
    arquivo de cada proposta de Pôster deverá ser encaminhado em duas extensões. A
    primeira extensão, em formato *doc/*docx, deve conter todas as informações indicadas
    a seguir, com EXCEÇÃO do nome dos autores e das instituições. A segunda extensão,
    em formato *pdf, deve conter as seguintes informações:
    <br /><br />
    <ul>
      <li>
        Título do Pôster em maiúsculo/negrito com alinhamento centralizado;
      </li>
      <li>
        Nome(s) do(s) autor(es) e instituição(ões) com alinhamento à direita;
      </li>
      <li>
        Resumo e texto completo do Pôster.
      </li>
    </ul>
    <strong>ATENÇÃO:</strong> Os arquivos deverão ser nomeados conforme o modelo que segue:
    Pôster
    seguido do cpf do primeiro autor (Exemplo: pôster00000000000).
  </div>
</div>
