<div class="container">
    <div class="scroll">
        <h3><strong style="color: rgb(180, 18, 18); text-align: center">REGRAS ESPECÍFICAS PARA SUBMISSÃO DE
                TRABALHO</strong>
        </h3>


        <h4><strong>PÔSTER</strong></h4>


        Os Pôsteres têm como finalidade a apresentação de trabalho decorrente de <strong>pesquisas
            em andamento ou experiências de ensino em realização.</strong> O tema do Pôster deverá se
        relacionar com um dos eixos do Encontro, podendo ser submetido por estudante
        de pós graduação e profissionais da Educação Básica e/ou da Educação Superior.
        <br /><br />
        Os Pôsteres deverão atender ao limite máximo de quatro autores.
        <br /><br />
        Os Pôsteres serão debatidos em salas de comunicações com mediações de professores
        convidados, devendo ser apresentado em formato digital para projeção multimídia, não
        sendo necessária a confecção de banner.
        <br /><br />
        <strong>Organização do texto do Pôster para publicação em meio eletrônico no formato E-
            book</strong>
        <br />
        O texto do Pôster deverá ter formato de artigo, com problemática anunciada e
        desenvolvida, conclusões e referências bibliográficas. A digitação e a formatação do
        texto devem seguir as orientações abaixo:
        <br /><br />
        <ul>
            <li>
                O resumo de cada texto do pôster deve conter entre 250 e 300 palavras, em
                espaço simples, apresentando no final, três a cinco palavras-chave;
            </li>

            <li>
                O texto em forma de artigo deve ser estruturado em torno de 5 (cinco) a 8 (oito)
                páginas, em espaço 1,5;
            </li>

            <li>
                Referências e anexos;
            </li>

            <li>
                Não utilizar notas de rodapé (notas de fim são aceitas);
            </li>

            <li>
                As referências devem ficar localizadas ao final do texto, contendo
                exclusivamente as obras citadas;
            </li>

            <li>
                Os quadros, tabelas, gráficos, figuras (fotografias ou desenhos) devem vir após
                as referências, com indicação de fonte (quando for o caso);
            </li>

            <li>
                O limite estabelecido entre 5 (cinco) a 8 (oito) páginas considera resumo,
                palavras-chaves, texto, referências e anexos.
            </li>
        </ul>

        <strong>O formato do texto deve considerar:</strong><br />
        <ul>
            <li>
                Programa: WORD FOR WINDOWS;
            </li>
            <li>
                Fonte: Times New Roman, tamanho 12;
            </li>
            <li>
                Papel tamanho A4;
            </li>
            <li>
                Margem superior e inferior com 2,5 cm;
            </li>
            <li>
                Margem esquerda e direita com 3 cm;
            </li>
            <li>
                Espaçamento entre linhas: 1,5 cm (no caso do resumo, espaçamento simples);
            </li>
            <li>
                Alinhamento: Justificado;
            </li>
            <li>
                Páginas numeradas a partir da segunda (no alto, à direita); mínimo de cinco (5),
                máximo de oito (8 páginas);
            </li>
            <li>
                Cabeçalho e rodapé conforme TEMPLATE.

            </li>
        </ul>

        <strong>Anexando arquivos</strong><br />
        Com o objetivo de garantir o anonimato dos trabalhos para o processo de avaliação, o
        arquivo de cada proposta de Pôster deverá ser encaminhado em duas extensões. A
        primeira extensão, em formato *doc/*docx, deve conter todas as informações indicadas
        a seguir, com EXCEÇÃO do nome dos autores e das instituições. A segunda extensão,
        em formato *pdf, deve conter as seguintes informações:
        <br /><br />
        <ul>
            <li>
                Título do Pôster em maiúsculo/negrito com alinhamento centralizado;
            </li>
            <li>
                Nome(s) do(s) autor(es) e instituição(ões) com alinhamento à direita;
            </li>
            <li>
                Resumo e texto completo do Pôster.
            </li>
        </ul>
        <strong style="color: red">ATENÇÃO:</strong> Os arquivos deverão ser nomeados conforme o modelo que segue:
        Pôster
        seguido do cpf do primeiro autor (Exemplo: pôster00000000000).
    </div>
</div>