#parcerias {
    padding: 30px 0;
  }
  
  #parcerias img {
    max-width: 100%;
    opacity: 0.5;
    transition: 0.3s;
    padding: 15px 0;
  }
  
  #parcerias img:hover {
    opacity: 1;
  }
  
  #parcerias .owl-nav,
  #parcerias .owl-dots {
    margin-top: 5px;
    text-align: center;
  }
  
  #parcerias .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
  }
  
  #parcerias .owl-dot.active {
    background-color: #c08622;
  }
  