<!--==========================
      parcerias Section
    ============================-->
<section id="parcerias" class="wow fadeInUp">
  <div class="container">
    <div class="row justify-content-between">
      <div class="section-header" mat-dialog-title>
        <h2>Conferencistas</h2>
      </div>
      <i class="fa fa-times" (click)="close()"></i>
    </div>
    <mat-dialog-content>

      <!-- <div *ngIf="conferencistas.length > 0" class="row">
        <div class="mt-4">
          <div class="row align-items-center">

            <div class="col-md-2 text-center" *ngFor="let conf of conferencistas| sort:'fullname'">
              <img [src]="conf.imagem ? _DomSanitizationService.bypassSecurityTrustUrl(conf.imagem) : conf.imagemLocal"
                title="{{conf.fullname}}">
            </div>

          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <!--    <h4 class="title">EM PREPARAÇÃO</h4>-->
            <p class="description" style="text-align: justify;">
              EM PREPARAÇÃO </p>
          </div>
        </div>
      </div>
    </mat-dialog-content>
  </div>
</section>
<!-- #cronograma -->