<!--==========================
      parcerias Section
    ============================-->
<section id="parcerias" class="wow fadeInUp">
  <div class="container">
    <div class="row justify-content-between">
      <div class="section-header" mat-dialog-title>
        <h2>Conferencistas</h2>
      </div>
      <i class="fa fa-times" (click)="close()"></i>
    </div>
    <mat-dialog-content>

      <div>


        <div class="container " *ngFor="let conf of conferencistas| sort:'fullname'">
          <div class="row">
            <div class="col-sm-12 text-center">
              <img width="304" height="236" src="https://xiendipe.s3.sa-east-1.amazonaws.com/{{conf.imagePathS3}}"
                class="img-fluid img-thumbnail capa-livro" />

            </div>
            <div class="col-sm-12 text-center"><strong>{{conf.fullname}}</strong></div>
            <div class="col-sm-11 text-align: justify;">{{conf.description}}</div>
          </div>

        </div>


      </div>

    </mat-dialog-content>
  </div>
</section>
<!-- #cronograma -->