.container {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    h2 {
      text-align: center;
    }

    i {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
  }

  h2.mat-dialog-title {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 22px;
    text-align: center;
  }

  div.mat-dialog-content {
    padding: 0 42px;

    p {
      margin: 0 0;
      font-size: 14px;
    }

    .horario {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      padding: 0 0;

      p {
        padding: 8px 0;
      }
    }

    .informacoes {
      padding: 0 0;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      }

      h4 {
        font-size: 14px;
        font-weight: 600;
        margin: 8px 0 6px 0;
      }

      div {
        padding: 0 0;
      }
    }
  }
}
