div.container {
  max-height: 100vh;
  overflow: hidden;

  h2 {
    margin: 0px 24px 0px 0px;
  }

  i.fa-times {
    cursor: pointer;
  }

  .reviewer {
    width: 100%;

    .conferencer-img {
      box-sizing: content-box;
      text-align: center;

      img {
        width: 100%;
        margin: 0 auto;
        border-radius: 4px;
      }

      button {
        background-color: #20959b;
        color: #fff;
        width: 100%;
        border: none;
        border-radius: 4px;
        margin: 12px 16px 0px 0px;
        height: calc(1.5em + 0.75rem + 2px);
      }
    }

    input {
      padding: 6px 14px;
      border-radius: 0;
      box-shadow: none;
      font-size: 15px;
      margin-bottom: 8px;
    }

    textarea {
      width: 100%;
      padding: 4px 14px;
      border-radius: 0;
      box-shadow: none;
      font-size: 15px;
    }

    div.form-group div.alert {
      border-radius: 0px;
      margin-bottom: 0rem;
      margin-top: 1px;
      padding: 0.3rem 1.25rem;
      font-size: 13px;
    }

    .btn-get-started {
      background-color: #2c8d13;
      color: #fff;
      width: 30%;
      border: none;
      margin: 16px 0px;
      height: calc(1.5em + 0.75rem + 2px);
    }
  }
}

.field-error {
  border: 1px solid red;
}
