.card-works {
  background: #c08622;
  color: #fff;
  padding: 12px;
  border-radius: 4px;

  small {
    font-weight: 300;
    font-size: 12px;
  }

  h4 {
    margin: 6px 0px;
    word-break: break-word;
    font-size: 18px;
  }
}
