<div>
    <div class="row">
        <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xg-3"
            *ngFor="let conferencista of conferencistas; let i = index" [ngClass]="{'mb-3': conferencistas.length > 1}">
            <conferencer-card (selected)="listar()" [conferencista]="conferencista"></conferencer-card>
        </div>
    </div>

    <not-found *ngIf="conferencistas.length < 1" msg="Não há conferencistas cadastrados"></not-found>

    <div class="row justify-content-end">
        <button class="btn-get-started" (click)="addConferencer()">Cadastrar</button>
    </div>
</div>