.schedule {
  overflow-x: auto;
}

::ng-deep .mat-tab-label {
  font-size: 16px;
  font-weight: 600;
}

::ng-deep .mat-tab-body-content {
  overflow-x: hidden !important;
}

.container-schedule {
  padding: 16px 0px;

  .nav-item {
    background-color: #50d8af;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.activated {
      background-color: #0c2e8a;
    }
  }

  .filter {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    :last-child {
      justify-self: flex-end;
    }
  }
}

.btn-get-started {
  background-color: #0c2e8a;
  color: #fff;
  text-transform: uppercase;
  width: 30%;
  border: none;
  margin: 14px 16px 0px;
  height: calc(1.5em + 0.75rem + 2px);
  border-radius: 4px;
  i {
    font-size: 14px;
  }
}

.not-schedule {
  background-color: #bfbfbf;
  display: flex;
  margin: 46px auto;
  padding: 22px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
}
